.User {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    overflow-x: hidden;
    min-height: 100vh;
}

.User .Heading2 {
    /* border: 1px solid black; */
    margin: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
}

.User .Heading2 h3 {
    color: var(--text-primary);
}

.User .Heading2 h3 span {
    color: #89c4ee;
    font-weight: bold;
}

.userPage {
    /* background-color: black; */
    margin: 1rem 0rem;
    display: grid;
    grid-template-columns: 35% 65%;
}

.userDetails {
    /* border: 1px solid green; */
    margin: 1rem;
    /* background-color: whitesmoke; */
}

.details {
    /* border: 1px solid red; */
    margin: 1rem;
    color: var(--text-primary);
}

.details h2 {
    color: var(--text-primary);
}

.details p {
    text-align: justify;
    color: var(--text-secondary);
}

@media (max-width: 1024px) {
    .userPage {
        /* background-color: black; */
        margin: 1rem 0rem;
        display: block;
    }
}