
.Home{
    padding: 0rem;
    /* background-color: rgba(223, 223, 226, 0.529); */
    background-color: black;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}
.Home-content{
    /* border:1px solid blue; */
    border-radius: 0.1rem;
    margin: 0rem auto;
    padding: 0rem;
    background-color: black;
    width: 100%;
    
}
.Home-content img{
    width: 100%;
    height: 100%;
}
.light-mode .Home {
    background-color: #f8f9fa;
}

.light-mode .Home-content {
    background-color: #f8f9fa;
}

.light-mode .About-Content .textAbout p {
    color: #222;
}