.contact-form {
    width: 80%;
    /* max-width: 600px; */
    margin: 0 auto;
    padding: 0rem 6rem;
    border: 1px solid var(--border-color);
    background-color: var(--bg-card);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--shadow-color);
    align-items: center;
    text-align: center;
    justify-content: center;
}

.contact-form h2 {
    margin-bottom: 20px;
    color: var(--accent-color);
    margin: 1rem auto;
    text-align: center;
    align-items: center;
}

.contact-form label {
    /* border: 1px solid red; */
    /* display: block; */
    position: relative;
    color: var(--text-primary);
    /* margin-bottom: 5px; */
}

.contact-form input,
.contact-form textarea {

    width: 100%;
    margin: 1rem 0rem;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--border-color);
    background-color: var(--bg-primary);
    color: var(--text-primary);
    border-radius: 3px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: var(--accent-color);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.contact-form .success-message {
    color: green;
}

.contact-form .error-message {
    color: red;
}

@media (max-width:480px) {
    .contact-form {
        padding: 0rem 1rem;
    }

    .contact-field {
        width: 100%;
    }
}